<div id="<%= dom_id tarea %>">
  <p>
    <strong>Titulo:</strong>
    <%= tarea.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tarea.descripcion %>
  </p>

  <p>
    <strong>Completado:</strong>
    <%= tarea.completado %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= tarea.usuario_id %>
  </p>

</div>
